name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        cd containers
        docker build . --file Dockerfile --tag ghcr.io/MatthewWheels/mtgcollectioncurator:latest
    - name: Log in to the container registry
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.GITHUBCR_USERNAME }}
        password: ${{ secrets.GITHUBCR_PASSWORD }}
    - name: Push the Docker image to the container registry
      run: |
        cd containers
        docker push ghcr.io/MatthewWheels/mtgcollectioncurator:latest
    
